@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --primary-color: #8212fa;
  --secondary-color: white;
  --secondary-light-color: #f0f0f2;
  --dark-color: black;
}

a {
  text-decoration: none;
}

.btn__primary {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 10px;
}

.btn__primary:hover {
  background-color: var(--primary-color);
  filter: brightness(90%);
}

.btn__secondary {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--secondary-light-color);
  color: var(--dark-color);
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn__secondary:hover {
  background-color: var(--secondary-light-color);
  filter: brightness(90%);
}